
.create-user {
  //margin: auto;
  //max-width: 400px;
  //padding: 0rem 2rem 5rem 2rem;
  //background-color: rgb(255, 255, 255);
  //border-radius: 15px;

  .row_login {
    margin-top: 8px;
  }

  .merchant_type {
    .ant-form-item-label {
      top: -6px;
    }

    .ant-form-item-control {
      margin-left: 6px;
      margin-top: 10px;
    }
  }

  .ant-form-item-explain.ant-form-item-explain-error {
    font-size: 10px;
  }

  .login-form-forgot {
    float: right;
  }

  input {
    height: 2.8em;
    -webkit-appearance: none;
    background-color: #f5f6f7;
    background-image: none;
    border-radius: 7px;
    border: none;
    box-sizing: border-box;
    color: #363f44;
    display: inline-block;
    font-size: inherit;
    line-height: 2.5em;
    outline: none;
    padding: 0 15px;
    padding-bottom: 15px;
    padding-top: 30px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
  }

  .ant-input-password, .ant-input-password:hover {
    height: 3.3em;
    -webkit-appearance: none;
    background-color: #f5f6f7;
    background-image: none;
    border-radius: 7px;
    border: none;
    box-sizing: border-box;
    color: #363f44;
    font-size: inherit;
    line-height: 2.5em;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;

    input {
      height: 2.8em;
      -webkit-appearance: none;
      background-color: #f5f6f7;
      background-image: none;
      border-radius: 7px;
      border: none;
      box-sizing: border-box;
      color: #363f44;
      display: inline-block;
      font-size: inherit;
      line-height: 2.5em;
      outline: none;
      padding-bottom: 15px;
      padding-top: 30px;
      transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
      width: 100%;
    }
  }

  .ant-select-selector {
    height: 2.8em !important;
    -webkit-appearance: none;
    background-color: #f5f6f7 !important;
    background-image: none;
    border-radius: 7px !important;
    border: none !important;
    box-sizing: border-box;
    color: #363f44;
    display: inline-block;
    font-size: inherit;
    line-height: 2.5em;
    outline: none;
    padding: 0 15px !important;
    padding-bottom: 15px !important;
    padding-top: 9px !important;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1) !important;
    width: 100% !important;
  }

  textarea {
    -webkit-appearance: none;
    background-color: #f5f6f7 !important;
    background-image: none;
    border-radius: 7px !important;
    border: none !important;
    box-sizing: border-box;
    color: #363f44;
    display: inline-block;
    font-size: inherit;
    line-height: 2.5em;
    outline: none;
    padding: 0 15px !important;
    padding-bottom: 15px !important;
    padding-top: 9px !important;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1) !important;
    width: 100% !important;
  }

  .title-create {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
  }

  .ant-select-selection-search-input{
    height: 2.8em !important;
    outline: none;
    padding-top: 10px !important;
  }

  margin-top: 0 !important;

  .ant-select-multiple .ant-select-selector {
    height: 3.8em !important;
  }
}

.is-floating-label {
  .ant-form-item {
    position: relative;
  }

  .ant-form-item-label {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    font-size: .75rem;
    background-color: transparent;
    z-index: 5;
    font-weight: 700;

    label {
      font-size: 10px;
    }
  }
}
