.layout {
    color: var(--txt-color);
}

.layout__content {
    padding-left: var(--sidebar-width);
    background-color: var(--second-bg);
}

.layout__content-main {
    padding: 20px 30px 20px 30px;
}
