@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-bg: #ffffff;
  --second-bg: #fafafb;
  --txt-color: #455560;
  --txt-white: #fff;
  --main-color: #349eff;
  --second-color: #62b4ff;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --border: #f0f0f0;
  --pagination: var(--main-color);

  --main-bg-light: #ffffff;
  --second-bg-light: #fafafb;
  --txt-color-light: #455560;
  --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --border-light: #f0f0f0;
  --pagination-light: var(--main-color);

  --main-bg-dark: #2d2d2d;
  --second-bg-dark: #202020;
  --txt-color-dark: #bbbbbb;
  --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  --border-dark: #737373;
  --pagination-dark: var(--main-color);

  --main-color-blue: #349eff;
  --second-color-blue: #62b4ff;

  --main-color-red: #fb0b12;
  --second-color-red: #ff4a6b;

  --main-color-cyan: #10d4d2;
  --second-color-cyan: #2ae9e6;

  --main-color-green: #019707;
  --second-color-green: #4caf50;

  --main-color-orange: #d68102;
  --second-color-orange: #fca11a;

  --sidebar-width: 270px;
  --border-radius: 10px;
  --topnav-height: 64px;
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  --base-size: 1;
  --border-radius-sidebar: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.7px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: var(--main-color);
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  color: var(--txt-color);
}

ul {
  list-style-type: none;
}

input {
  border: 2px solid transparent;
  outline: 0;
}

input:focus {
  border: 2px solid var(--main-color);
}

.page-header {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.card {
  padding: 14px;
  margin-bottom: 30px;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.full-height {
  height: 100%;
}

.card.full-height {
  height: calc(100% - 30px);
}

.card__header {
  text-transform: capitalize;

  h3 {
    color: var(--txt-color);
  }
}

.card > div ~ div {
  margin-top: 30px;
}

.card__footer {
  text-align: center;
  text-transform: capitalize;

  a {
    color: var(--txt-color);
  }
}

.light-background {
  background-color: var(--main-bg-light);
  color: #000;
}

.dark-background {
  background-color: var(--main-bg-dark);
  color: #fff;
}

.blue-color {
  background-color: var(--main-color-blue);
  color: #fff;
}

.red-color {
  background-color: var(--main-color-red);
  color: #fff;
}

.cyan-color {
  background-color: var(--main-color-cyan);
  color: #fff;
}

.green-color {
  background-color: var(--main-color-green);
  color: #fff;
}

.orange-color {
  background-color: var(--main-color-orange);
  color: #fff;
}

.App {
  font-size: 16px;
  color: #050505;
}

.logo {
  text-align: center;
}

.logo-text-white {
  color: white;
  font-family: Azonix;
  font-size: 16px;
  display: inline-block;
}

.logo-text {
  font-family: Azonix;
  font-size: 16px;
  display: inline-block;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-flow: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.items-center {
  align-items: center;
}

/* /* //______________Padding */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

/* /* //_________Margin */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

/* /* //__________Text Align */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* /* //__________ Display */
.hidden {
  display: none;
}

.block {
  display: block;
}

/* /* //__________ Absolute */
.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* /* //__________ Cursor */
*.cursor-pointer {
  cursor: pointer;
}

/* /* //__________ Font-Size */
.h1 {
  font-size: 1.25rem;
}

.h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.75rem;
}

/* //__________ Font-Size */
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

/* /* //_______________widtd */
.w-full {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-8 {
  width: 2rem;
}

.w-12 {
  width: 3rem;
}

.w-200 {
  width: 200px;
}

/* /* //_______________Height */
.h-8 {
  height: 2rem;
}

.h-12 {
  height: 3rem;
}

.h-100 {
  height: 100%;
}

/* /* //border-radius */
* .br2 {
  border-radius: 2px;
}

.br4 {
  border-radius: 4px;
}

/* /* //boder color */
.border-ccc {
  border: 1px solid #ccc;
}

.border-ant {
  border: 1px solid rgb(230, 227, 227);
}

.f-500 {
  font-weight: 500;
}

.over-hidden {
  overflow: hidden;
}

.bg-0 {
  background-color: #fff;
}

.shadow_base {
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
  overflow: hidden;
}

.text-nowrap-line2 {
  text-overflow: ellipsis;
  max-width: 200px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  overflow: hidden;
}

/*@media screen and (min-width: 1216px) {
	.container {
		max-width: 1200px;
	}
}*/
@media screen and (min-width: 769px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.container {
  padding-right: calc(3 * var(--base-size));
  padding-left: calc(3 * var(--base-size));
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1044px;
  }
}

.container {
  margin: 0 auto;
  padding: 15px;
}

.content_small {
  margin: auto;
}

.text-underline {
  text-decoration: underline;
}

.ant-badge-count {
  background-color: #006FBB;
}


.result-404-light {
  color: black;
}

.result-404-dark {
  color: #fff;
}

.word-color-light {
  color: black;
}

.word-color-dark {
  color: white;
}

.ant-table-row:hover .ant-table-cell {
  background-color: var(--main-color) !important;
  color: var(--txt-white);
}

.ant-table-row:hover .ant-table-cell-fix-right {
  background-color: var(--txt-white) !important;
}

.flex-column {
  flex-direction: column;
}

.items-end {
  align-items: flex-end;
}

.end-self {
  align-self: flex-end;
}

.capitalize {
  text-transform: capitalize;
}

.ant-table-tbody {
  td {
    border-right-color: var(--border) !important;
    border-bottom-color: var(--border) !important;
    background-color: var(--main-bg);
    color: var(--txt-color);

    a {
      //color: var(--txt-color) !important;
    }
  }
}

.ant-table-thead {
  th {
    border-right-color: var(--border) !important;
    border-bottom-color: var(--border) !important;
    background-color: var(--main-bg) !important;
    color: var(--txt-color) !important;
  }
}

.ant-table-container {
  border-color: var(--border) !important;
}

//.ant-pagination {
//  li, a, svg {
//    color: var(--pagination) !important;
//  }
//
//  .ant-pagination-item {
//    background-color: var(--main-bg);
//  }
//}

.ant-modal-content {
  border-radius: 8px;
  overflow: hidden;
}

.ant-btn {
  border-radius: 5px;
}

.ant-checkbox-inner {
  border-radius: 4px;
}

.text-underline {
  text-decoration: underline;
  color: #006FBB !important;
}

.ant-input-affix-wrapper {
  border-radius: 5px;
}

.ant-picker {
  border-radius: 5px;
}

.ant-select-selector {
  border-radius: 5px !important;
}

.items-start {
  align-items: flex-start;
}

.m-h-100 {
  min-height: 100%;
}

.m-h-80 {
  min-height: 80%;
}
