.asset {
  min-width: 850px;

  .header {
    margin-left: 8px !important;
    color: #5f6368;
    font-weight: 500;
  }
}

.folder {
  border: 1px solid #dadce0;
  padding: 12px 16px 12px 16px;
  border-radius: 6px;
  min-width: 200px;
  margin-bottom: 6px;

  .icon {
    font-size: 24px;
    color: rgba(95, 99, 104,10);
    margin-right: 10px;
  }

  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.folder-list {
  min-width: 810px;
  margin: 15px 0 !important;
}

.file {
  .preview {
    height: 24px;
    width: 24px;
    object-fit: cover;
    opacity: 0.8;
    font-size: 20px;

    .ant-image-mask-info {
      font-size: 5px;
    }
  }

  .ant-list-item-meta-description {

    display: flex;

    span {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .sub-title {
    font-size: 10px;
  }

  .ant-list-item-meta {
    align-items: center;
  }
}

.copy {
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.ant-list {
  margin-top: 4px !important;
}
